<div class="search-container">
  <p>Search by:</p>
  <form action="/search" method="GET">
    <div class="name-search">
      <label for="firstName">First Name:</label>
      <input type="text" name="firstName" />
    </div>
    <div class="name-search-two">
      <label for="lastName">Last Name:</label>
      <input type="text" name="lastName" />
    </div>
    <div class="email-search">
      <label for="email">Email</label>
      <input type="email" name="email" />
    </div>
    <button type="submit">Search</button>
  </form>
</div>
